<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
  <title>Редагувати новину</title>
</head>
<body>
<div layout:fragment="content">
  <h1>Редагувати новину</h1>
  <form enctype="multipart/form-data" method="post" th:action="@{/news/{news_id}/edit(news_id=${new_s.news_id})}">
    <h3>Назва новини<input type="text" name="news_name" placeholder="Назва новини" class="form-control" th:value="${new_s.news_title}"></h3>
    <h3>Опис<input type="text" name="news_description" placeholder="Текст" class="form-control" th:value="${new_s.news_description}"></h3>
    <h3>Дата публікації<input type="date" name="publication_date" placeholder="Введіть дату публікації" class="form-control" th:value="${new_s.date_publication}"></h3>
    <h3>Головне фото<input type="file" name="main_image_path" class="form-control gallery-input" placeholder="Фото"></h3>

    <h3>Галерея картинок</h3>
    <div class="gallery-row">
      <input type="file" name="gallery_photo_1" class="form-control gallery-input" placeholder="Фото 1">
      <input type="file" name="gallery_photo_2" class="form-control gallery-input" placeholder="Фото 2">
      <input type="file" name="gallery_photo_3" class="form-control gallery-input" placeholder="Фото 3">
      <input type="file" name="gallery_photo_4" class="form-control gallery-input" placeholder="Фото 4">
      <input type="file" name="gallery_photo_5" class="form-control gallery-input" placeholder="Фото 5">
    </div>

    <h3>Посилання на трейлер<input type="text" name="url" placeholder="Посилання на трейлер в ютубі" class="form-control" th:value="${new_s.seoBlocks.url}"></h3>

    <h3>Статус</h3>
    <div>
      <label>
        <input type="checkbox" name="status" id="soonCheckbox" value="on" onclick="checkBox('soonCheckbox')" th:checked="${new_s.status == 'on'}"> Вмк
      </label>
      <label>
        <input type="checkbox" name="status" id="nowCheckbox" value="off" onclick="checkBox('nowCheckbox')" th:checked="${new_s.status == 'off'}"> Вимк
      </label>
      <script>
        function checkBox(checkboxId) {
          const checkboxes = document.querySelectorAll('input[type="checkbox"]');
          checkboxes.forEach((checkbox) => {
            if (checkbox.id !== checkboxId) {
              checkbox.checked = false;
            }
          });
        }
      </script>
    </div>

    <h3>Seo block</h3>
    <h3>URL<input type="text" name="url" placeholder="URL" class="form-control" th:value="${new_s.seoBlocks.url}"></h3>
    <h3>Title<input type="text" name="title" placeholder="Title" class="form-control" th:value="${new_s.seoBlocks.title}"></h3>
    <h3>Keywords<input type="text" name="keywords" placeholder="word" class="form-control" th:value="${new_s.seoBlocks.keywords}"></h3>
    <h3>Description<input type="text" name="description_seo" placeholder="Description" class="form-control" th:value="${new_s.seoBlocks.description}"></h3>
    <button type="submit" class="btn btn-success">Оновити новину</button>
  </form>
</div>
</body>
</html>