<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Update user</title>
</head>
<body>
<div layout:fragment="content">
    <h2><a href="/news/news-add" class="add-movie-button">Додати новину</a></h2>
    <h1>Новини</h1>
    <div class="box">
        <table style="border-collapse: collapse;">
            <tr>
                <th style="padding: 10px;">Id</th>
                <th style="padding: 10px;">Name</th>
                <th style="padding: 10px;">Status</th>
            </tr>
            <!-- Итерация по списку пользователей и отображение данных -->
            <tr th:each="news : ${new_s}">
                <td th:text="${news.news_id}" style="text-align: left; padding: 10px;"></td>
                <td th:text="${news.news_title}" style="text-align: left; padding: 10px;"></td>
                <td th:text="${news.status}" style="text-align: left; padding: 10px;"></td>
                <td><a th:href="'/news/' + ${news.news_id} + '/edit'"  class="btn btn-info">Редагувати</a></td>
                <td><form th:action="'/news/' + ${news.news_id} + '/remove'" method="post">
                    <button class="btn btn-danger">Delete</button>
                </form></td>
                <!-- Добавьте другие необходимые поля -->
            </tr>
        </table>
    </div>
</div>

</body>
</html>