<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/layout/layout">
<head>
  <title>Фільми</title>
  <style>
    .gallery-row {
      display: flex;
    }

    .gallery-input {
      margin-right: 10px;
    }
  </style>
</head>
<body>
<section layout:fragment="header">
  <ol class="breadcrumb">
    <li><a href="/templates/public"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Registration Client</li>
  </ol>
</section>
<div layout:fragment="content">
  <h1>Добавлення фільму</h1>
  <form enctype="multipart/form-data" method="post" th:action="@{/admin/films/film-add}" >
    <h3>Назва фільму<input type="text" name="name_film" placeholder="Назва фільму" class="form-control" required></h3>
    <h3>Опис<input type="text" name="description" placeholder="Текст" class="form-control"></h3>
    <h3>Головне фото</h3>
      <div id="mainPhotoThumbnailContainer">
        <img src="/Kino_CMS-Yura_Dmytriv/static/img/download.jpg" id="mainPhotoImage" style="width: 100px; height: 100px;"/>
        <div id="logoThumbnailContainer"></div>
        <p id="logoError" style="color: red;"></p>
      </div>
      <input accept=".jpeg, .jpg, .png" type="file" name="main_photo" class="form-control gallery-input" placeholder="Фото" id="mainPhotoInput" required onchange="validateAndDisplayImage(this, 'mainPhotoImage', 'logoError')">


    <h3>Галерея картинок</h3>
    <div class="gallery-row">
      <br><div id="galleryPhoto1ThumbnailContainer">
        <img src="/Kino_CMS-Yura_Dmytriv/static/img/download.jpg" id="galleryPhoto1Image" style="width: 100px; height: 100px;" />
        <div id="logoThumbnailContainer1"></div>
        <p id="logoError1" style="color: red;"></p>
      <input accept=".jpeg, .jpg, .png" type="file" name="gallery_photo_1" class="form-control gallery-input" placeholder="Фото 1" id="galleryPhoto1Input" onchange="validateAndDisplayImage(this, 'galleryPhoto1Image', 'logoError1')">
    </div>

      <br><div id="galleryPhoto2ThumbnailContainer">
        <img src="/Kino_CMS-Yura_Dmytriv/static/img/download.jpg" id="galleryPhoto2Image" style="width: 100px; height: 100px;" />
        <div id="logoThumbnailContainer2"></div>
        <p id="logoError2" style="color: red;"></p>
      <input accept=".jpeg, .jpg, .png" type="file" name="gallery_photo_2" class="form-control gallery-input" placeholder="Фото 2" id="galleryPhoto2Input" onchange="validateAndDisplayImage(this, 'galleryPhoto2Image', 'logoError2')">
    </div>


      <br><div id="galleryPhoto3ThumbnailContainer">
        <img src="/Kino_CMS-Yura_Dmytriv/static/img/download.jpg" id="galleryPhoto3Image" style="width: 100px; height: 100px;" />
        <div id="logoThumbnailContainer3"></div>
        <p id="logoError3" style="color: red;"></p>
      <input accept=".jpeg, .jpg, .png" type="file" name="gallery_photo_3" class="form-control gallery-input" placeholder="Фото 3" id="galleryPhoto3Input" onchange="validateAndDisplayImage(this, 'galleryPhoto3Image', 'logoError3')">
      </div>


      <br><div id="galleryPhoto4ThumbnailContainer">
        <img src="/Kino_CMS-Yura_Dmytriv/static/img/download.jpg" id="galleryPhoto4Image" style="width: 100px; height: 100px;" />
        <div id="logoThumbnailContainer4"></div>
        <p id="logoError4" style="color: red;"></p>
      <input accept=".jpeg, .jpg, .png" type="file" name="gallery_photo_4" class="form-control gallery-input" placeholder="Фото 4" id="galleryPhoto4Input" onchange="validateAndDisplayImage(this, 'galleryPhoto4Image', 'logoError4')">
      </div>


      <div id="galleryPhoto5ThumbnailContainer">
        <img src="/Kino_CMS-Yura_Dmytriv/static/img/download.jpg" id="galleryPhoto5Image" style="width: 100px; height: 100px;" />
        <div id="logoThumbnailContainer5"></div>
        <p id="logoError5" style="color: red;"></p>
        <input accept=".jpeg, .jpg, .png" type="file" name="gallery_photo_5" class="form-control gallery-input" placeholder="Фото 5" id="galleryPhoto5Input" onchange="validateAndDisplayImage(this, 'galleryPhoto5Image', 'logoError5')"><br>
      </div>
    </div>

    <div>
      <h3>Інформація про фільм</h3>
      <label for="year">Год:</label><br>
      <input type="number" required id="year" name="year" data-forbidden-chars="-!@#$%^"><br>

      <label for="composer">Композитор:</label><br>
      <input type="text" id="composer" required  name="composer" data-forbidden-chars="-!@#$%^"><br>

      <label for="producer">Продюсер:</label><br>
      <input type="text" id="producer" required  name="producer" data-forbidden-chars="-!@#$%^"><br>

      <label for="director">Режиссер:</label><br>
      <input type="text" id="director" required  name="director" data-forbidden-chars="-!@#$%^"><br>

      <label for="screenwriter">Сценарист:</label><br>
      <input type="text" id="screenwriter" required  name="screenwriter" data-forbidden-chars="-!@#$%^"><br>

      <label for="cinematographer">Оператор:</label><br>
      <input type="text" id="cinematographer" required  name="cinematographer" data-forbidden-chars="-!@#$%^"><br>

      <label for="genre">Жанр:</label><br>
      <input type="text" id="genre" required  name="genre" data-forbidden-chars="-!@#$%^"><br>

      <label for="budget">Бюджет:</label><br>
      <input type="number" step="0.01" id="budget" required  name="budget" data-forbidden-chars="-!@#$%^"><br>

      <label for="ageRating">Возрастной рейтинг:</label><br>
      <input type="text" id="ageRating" required  name="ageRating" data-forbidden-chars="-!@#$%^"><br>

      <label for="duration">Длительность (чч:мм:сс):</label><br>
      <input type="time" id="duration" required  name="duration" step="1" data-forbidden-chars="-!@#$%^"><br>
    </div>

    <script th:inline="javascript">
      document.addEventListener("DOMContentLoaded", function() {
        const form = document.querySelector("form");

        form.addEventListener("submit", function(event) {
          event.preventDefault(); // Остановка отправки формы

          let valid = true;

          // Очищаем все сообщения об ошибках перед проверкой
          form.querySelectorAll(".error-message").forEach(function(error) {
            error.remove();
          });

          // Проверка полей на пустоту и вывод сообщений об ошибках
          const requiredFields = form.querySelectorAll("[required]");
          requiredFields.forEach(function(field) {
            if (!field.value.trim()) {
              valid = false;
              field.classList.add("invalid");
              const errorMessage = createErrorMessage("Поле не может быть пустым");
              field.parentNode.appendChild(errorMessage);
            } else {
              field.classList.remove("invalid");
            }
          });

          // Проверка года на диапазон и вывод сообщения об ошибке
          const yearField = form.querySelector("#year");
          const year = parseInt(yearField.value);
          if (isNaN(year) || year < 1900 || year > 2023) {
            valid = false;
            yearField.classList.add("invalid");
            const errorMessage = createErrorMessage("Год должен быть между 1900 и 2023");
            yearField.parentNode.appendChild(errorMessage);
          } else {
            yearField.classList.remove("invalid");
          }

          // Проверка на буквы в полях, где допустимы только цифры и вывод сообщения об ошибке
          const numericFields = form.querySelectorAll("[data-numeric]");
          numericFields.forEach(function(field) {
            if (!/^\d+$/.test(field.value)) {
              valid = false;
              field.classList.add("invalid");
              const errorMessage = createErrorMessage("Допустимы только цифры");
              field.parentNode.appendChild(errorMessage);
            } else {
              field.classList.remove("invalid");

              // Добавьте проверку на конкретное число, например, -1
              if (parseInt(field.value) === -1) {
                valid = false;
                field.classList.add("invalid");
                const errorMessage = createErrorMessage("Число -1 недопустимо");
                field.parentNode.appendChild(errorMessage);
              }
            }
          });

          // Проверка на наличие недопустимых символов
          const fieldsWithForbiddenChars = form.querySelectorAll("[data-forbidden-chars]");
          fieldsWithForbiddenChars.forEach(function(field) {
            const forbiddenChars = field.getAttribute("data-forbidden-chars");
            const regex = new RegExp(`[${forbiddenChars}]`, "g");
            if (regex.test(field.value)) {
              valid = false;
              field.classList.add("invalid");
              const errorMessage = createErrorMessage(`Недопустимые символы: ${forbiddenChars}`);
              field.parentNode.appendChild(errorMessage);
            } else {
              field.classList.remove("invalid");
            }
          });

          if (valid) {
            form.submit(); // Отправка формы только если все проверки прошли успешно
          }
        });

        // Функция для создания сообщения об ошибке
        function createErrorMessage(message) {
          const errorMessage = document.createElement("span");
          errorMessage.classList.add("error-message");
          errorMessage.textContent = message;
          return errorMessage;
        }
      });


      function validateAndDisplayImage(input, imgId, errorMsgId) {
        var allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;
        var file = input.files[0];
        var thumbnailContainer = document.getElementById(imgId);
        var errorMessage = document.getElementById(errorMsgId);

        // Перевірити розширення файлу
        if (!allowedExtensions.exec(file.name)) {
          errorMessage.textContent = 'Дозволені лише файли з розширеннями .jpg, .jpeg та .png';
          input.value = ''; // Очистити інпут файлу
          thumbnailContainer.src = '/Kino_CMS-Yura_Dmytriv/static/img/download.jpg'; // Відновити попередню фотографію
          return false;
        }

        errorMessage.textContent = ''; // Очистити повідомлення про помилку

        thumbnailContainer.src = ''; // Очистити попередню мініатюру

        if (file) {
          var reader = new FileReader();
          reader.onload = function (e) {
            thumbnailContainer.src = e.target.result;
          };
          reader.readAsDataURL(file);
        } else {
          thumbnailContainer.src = '/Kino_CMS-Yura_Dmytriv/static/img/download.jpg'; // Відновити попередню фотографію у разі відсутності нового файлу
        }
      }
    </script>

    <h3>Посилання на трейлер<input type="text" name="link" placeholder="Посилання на трейлер в ютубі" class="form-control"></h3>

    <h3>Коли вийде фільм?</h3>
    <div>
      <label>
        <input type="checkbox" name="movie_data" value="soon" onchange="handleCheckboxChange(this)"> Скоро вийде
      </label>
      <label>
        <input type="checkbox" name="movie_data" value="now" onchange="handleCheckboxChange(this)"> Вже вийшов
      </label>
      <p id="movieDataError" style="color: red; display: none;">Выберите одну опцию</p>
      <script>
        function handleCheckboxChange(checkbox) {
          const checkboxes = document.getElementsByName("movie_data");
          const errorElement = document.getElementById("movieDataError");

          // Проверить, выбраны ли оба чекбокса
          const selectedCheckboxes = Array.from(checkboxes).filter(cb => cb.checked);
          if (selectedCheckboxes.length === 0) {
            errorElement.style.display = "block"; // Показать сообщение об ошибке
          } else {
            errorElement.style.display = "none"; // Скрыть сообщение об ошибке
          }
        }

        document.querySelector("form").addEventListener("submit", function(event) {
          const checkboxes = document.getElementsByName("movie_data");
          const selectedCheckboxes = Array.from(checkboxes).filter(cb => cb.checked);

          if (selectedCheckboxes.length === 0) {
            event.preventDefault(); // Остановить отправку формы
            const errorElement = document.getElementById("movieDataError");
            errorElement.style.display = "block"; // Показать сообщение об ошибке
          }
        });
      </script>
    </div>


    <h3>Тип фільму</h3>
    <div>
      <label>
        <input type="checkbox" name="movie_type" value="3D"> 3D
      </label>
      <label>
        <input type="checkbox" name="movie_type" value="2D"> 2D
      </label>
      <label>
        <input type="checkbox" name="movie_type" value="IMAX"> IMAX
      </label>
    </div>

    <h3>Seo block</h3>
    <h3>URL<input type="text" name="url" placeholder="URL" class="form-control"></h3>
    <h3>Title<input type="text" name="title" placeholder="Title" class="form-control"></h3>
    <h3>Keywords<input type="text" name="keywords" placeholder="word" class="form-control"></h3>
    <h3>Description<input type="text" name="description_seo" placeholder="Description" class="form-control"></h3>
    <button type="submit" class="btn btn-success">Додати фільм</button>
  </form>
</div>
</body>
</html>