<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar" th:fragment="sidebar">
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu" data-widget="tree">
        <!-- <li class="header"></li> -->
        <li><a href="/home"><i class="fa fa-dashboard"></i> <span>Статистика</span></a></li>
        <li><a href="/banners"><i class="fa fa-dashboard"></i> <span>Банери/Слайдери</span></a></li>
        <li><a href="/films"><i class="fa fa-dashboard"></i> <span>Фільми</span></a></li>
        <li><a href="/cinemas"><i class="fa fa-dashboard"></i> <span>Кінотеатри</span></a></li>
        <li><a href="/news"><i class="fa fa-dashboard"></i> <span>Новини</span></a></li>
        <li><a href="/promotions"><i class="fa fa-dashboard"></i> <span>Акції</span></a></li>
        <li><a href="/"><i class="fa fa-dashboard"></i> <span>Сторінки</span></a></li>
        <li><a href="/users"><i class="fa fa-dashboard"></i> <span>Користувачі</span></a></li>
        <li><a href="/email-form"><i class="fa fa-dashboard"></i> <span>Розсилка</span></a></li>
    </ul>
    <!-- /.sidebar-menu -->
</section>
<!-- /.sidebar -->
