<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/layout/layout">
<head>
    <title>Update news</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Новини</h1>
    <p th:unless="${not #lists.isEmpty(new_s)}">Список новин пустий</p>
    <div class="box">
        <!-- Проверка, пустой ли список new_s -->
        <!-- Если список не пуст, отобразить данные новостей -->
        <table style="border-collapse: collapse;" th:if="${not #lists.isEmpty(new_s)}">
            <tr>
                <th style="padding: 10px;">Id</th>
                <th style="padding: 10px;">Ім'я</th>
                <th style="padding: 10px;">Статус</th>
            </tr>
            <tr th:each="news : ${new_s}">
                <td th:text="${news.news_id}" style="text-align: left; padding: 10px;"></td>
                <td th:text="${news.news_title}" style="text-align: left; padding: 10px;"></td>
                <td th:text="${news.status}" style="text-align: left; padding: 10px;"></td>
                <td><a th:href="@{/admin/news/{news_id}/edit(news_id = ${news.news_id})}" class="btn btn-info">Редагувати</a></td>
                <td>
                    <form th:action="@{/admin/news/{news_id}/remove(news_id = ${news.news_id})}" method="post">
                        <button class="btn btn-danger">Видалити</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
    <h2><a th:href="@{/admin/news/news-add}" class="btn btn-info">Додати новину</a></h2>
</div>

</body>
</html>