<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/layout/layout">
<head>
  <title>Update user</title>
</head>
<body>
<div layout:fragment="content">
  <h1>Реклама</h1>
  <form enctype="multipart/form-data" method="post" th:action="@{/admin/pages/advertising-page}" >
    <h3>Назва <input type="text" name="name" placeholder="Назва" class="form-control" th:value="${advertising.advertising_name}"></h3>
    <h3>Опис<input type="text" name="description" placeholder="Опис" class="form-control" th:value="${advertising.description}"></h3>
    <h3>Головне фото<input type="file" name="mainImageFile" class="form-control gallery-input" placeholder="Фото"></h3>

    <h3>Галерея картинок</h3>
    <div class="gallery-row">
      <input type="file" name="gallery_photo_1" class="form-control gallery-input" placeholder="Фото 1">
      <input type="file" name="gallery_photo_2" class="form-control gallery-input" placeholder="Фото 2">
      <input type="file" name="gallery_photo_3" class="form-control gallery-input" placeholder="Фото 3">
      <input type="file" name="gallery_photo_4" class="form-control gallery-input" placeholder="Фото 4">
      <input type="file" name="gallery_photo_5" class="form-control gallery-input" placeholder="Фото 5">
    </div>

    <h3>Статус</h3>
    <div>
      <label>
        <input type="radio" name="status" value="on" th:checked="${advertising.status == 'on'}"> Вмк
      </label>
      <label>
        <input type="radio" name="status" value="off" th:checked="${advertising.status == 'off'}"> Вимк
      </label>
      <script>
        function checkBox(checkboxId) {
          const checkboxes = document.querySelectorAll('input[type="checkbox"]');
          checkboxes.forEach((checkbox) => {
            if (checkbox.id !== checkboxId) {
              checkbox.checked = false;
            }
          });
        }
      </script>
    </div>

    <h3>Seo block</h3>
    <h3>URL<input type="text" name="url" placeholder="URL" class="form-control" th:value="${advertising.seo_url}"></h3>
    <h3>Title<input type="text" name="title" placeholder="Title" class="form-control" th:value="${advertising.seo_title}"></h3>
    <h3>Keywords<input type="text" name="keywords" placeholder="word" class="form-control" th:value="${advertising.seo_keywords}"></h3>
    <h3>Description<input type="text" name="description_seo" placeholder="Description" class="form-control" th:value="${advertising.seo_description}"></h3>
    <button type="submit" class="btn btn-success">Зберегти</button>
  </form>
</div>

</body>
</html>