<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/layout/layout">
<head>
  <title>Update Page</title>
</head>
<body>
<div layout:fragment="content">
  <h1>Editing Page</h1>
  <form enctype="multipart/form-data" method="post" th:action="@{/admin/pages/{id}/edit(id=${pages.page_id})}" >
    <h3>Name <input type="text" name="name" placeholder="Name" class="form-control" th:value="${pages.page_name}"></h3>
    <h3>Description <input type="text" name="description" placeholder="Description" class="form-control" th:value="${pages.description}"></h3>
    <h3>Головне фото
      <input type="file" name="mainImageFile" class="form-control gallery-input" placeholder="Фото" id="headBannerInput" onchange="displayImage1(this, 'headBannerImage')">
    </h3>
    <div id="headBannerContainer">
      <img th:src="${'/upload/' + pages.main_image_path}" id="headBannerImage" style="width: 100px; height: 100px;" />
    </div>

    <h3>Галерея картинок</h3>
    <div class="gallery-row">
      <input type="file" name="gallery_photo_1" class="form-control gallery-input" placeholder="Фото 1" onchange="displayImage1(this, 'galleryImage1')">
      <img th:src="${'/upload/' + pages.image_path_1}" id="galleryImage1" style="width: 100px; height: 100px;" />

      <input type="file" name="gallery_photo_2" class="form-control gallery-input" placeholder="Фото 1" onchange="displayImage1(this, 'galleryImage2')">
      <img th:src="${'/upload/' + pages.image_path_2}" id="galleryImage2" style="width: 100px; height: 100px;" />

      <input type="file" name="gallery_photo_3" class="form-control gallery-input" placeholder="Фото 1" onchange="displayImage1(this, 'galleryImage3')">
      <img th:src="${'/upload/' + pages.image_path_3}" id="galleryImage3" style="width: 100px; height: 100px;" />

      <input type="file" name="gallery_photo_4" class="form-control gallery-input" placeholder="Фото 1" onchange="displayImage1(this, 'galleryImage4')">
      <img th:src="${'/upload/' + pages.image_path_4}" id="galleryImage4" style="width: 100px; height: 100px;" />

      <input type="file" name="gallery_photo_5" class="form-control gallery-input" placeholder="Фото 1" onchange="displayImage1(this, 'galleryImage5')">
      <img th:src="${'/upload/' + pages.image_path_5}" id="galleryImage5" style="width: 100px; height: 100px;" />

      <!-- Добавьте аналогичный код для остальных полей галереи -->
    </div>

    <script>
      function displayImage1(input, imgId) {
        var thumbnailContainer = document.getElementById(imgId);
        thumbnailContainer.src = ""; // Очистить предыдущую миниатюру

        if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            thumbnailContainer.src = e.target.result;
          };
          reader.readAsDataURL(input.files[0]);
        }
      }
    </script>

    <h3>Status</h3>
    <div>
      <label>
        <input type="radio" name="status" value="on" th:checked="${pages.status == 'on'}"> On
      </label>
      <label>
        <input type="radio" name="status" value="off" th:checked="${pages.status == 'off'}"> Off
      </label>
    </div>

    <h3>Seo block</h3>
    <h3>URL<input type="text" name="url" placeholder="URL" class="form-control" th:value="${pages.seo_url}"></h3>
    <h3>Title<input type="text" name="title" placeholder="Title" class="form-control" th:value="${pages.seo_title}"></h3>
    <h3>Keywords<input type="text" name="keywords" placeholder="Keywords" class="form-control" th:value="${pages.seo_keywords}"></h3>
    <h3>Description<input type="text" name="description_seo" placeholder="Description" class="form-control" th:value="${pages.seo_description}"></h3>
    <button type="submit" class="btn btn-success">Save</button>
  </form>
</div>
</body>
</html>