<!-- sidebar: style can be found in sidebar.less -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-UhhlH0eqZlHRxkh0imP5Q7xcjkfxabV5X4Pfhb8RJxzodl/UMXtOJ/n8Fi1X9X2ioj8U1zea5UCoMMd9bm/cA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<section class="sidebar" th:fragment="sidebar">
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu" data-widget="tree">
        <!-- <li class="header"></li> -->
        <li><a href="/admin/home"><i class="fa fa-dashboard"></i> <span>Статистика</span></a></li>
        <li><a href="/admin/banners"><i class="fa fa-dashboard"></i> <span>Банери/Слайдери</span></a></li>
        <li><a href="/admin/films"><i class="fa fa-dashboard"></i> <span>Фільми</span></a></li>
        <li><a href="/admin/cinemas"><i class="fa fa-dashboard"></i> <span>Кінотеатри</span></a></li>
        <li><a href="/admin/news"><i class="fa fa-dashboard"></i> <span>Новини</span></a></li>
        <li><a href="/admin/promotions"><i class="fa fa-dashboard"></i> <span>Акції</span></a></li>
        <li class="treeview">
            <a href="#" class="trigger"><i class="fa fa-dashboard"></i> <span>Сторінки</span> <i class="right fas fa-angle-left"></i></a>
            <!-- Вложенные ссылки, которые появятся/скроются при клике -->
            <ul class="treeview-menu">
                <li><a href="/admin/pages">Всі сторінки</a></li>
                <li><a href="/admin/pages/main-page">Головна сторінка</a></li>
                <li><a href="/admin/pages/about-cinema">Про кінеатр</a></li>
                <li><a href="/admin/pages/cafe-bar">Кафе бар</a></li>
                <li><a href="/admin/pages/vip-hall">Віп зал</a></li>
                <li><a href="/admin/pages/advertising-page">Реклама</a></li>
                <li><a href="/admin/pages/kids-room">Дитяча кімната</a></li>
                <li><a href="/admin/pages/contacts">Контакти</a></li>
            </ul>
        </li>
        <li><a href="/admin/users"><i class="fa fa-dashboard"></i> <span>Користувачі</span></a></li>
        <li><a href="/admin/email-form"><i class="fa fa-dashboard"></i> <span>Розсилка</span></a></li>
    </ul>
    <script>
        // Функция для обработки кликов на триггере списка
        function handleTriggerClick(event) {
            // Отменяем стандартное поведение ссылки, чтобы не происходил переход на новую страницу
            event.preventDefault();

            // Получаем родительский элемент с классом "treeview"
            const treeviewParent = $(this).parent('.treeview');

            // Проверяем, есть ли у родительского элемента класс "menu-open"
            const isOpen = treeviewParent.hasClass('menu-open');

            // Инвертируем состояние класса "menu-open" (переключаем его)
            treeviewParent.toggleClass('menu-open');
        }

        // Прикрепляем обработчик кликов к триггеру списка
        $(document).ready(function () {
            $('.treeview .trigger').click(handleTriggerClick);
        });
    </script>
    <!-- /.sidebar-menu -->
</section>
<!-- /.sidebar -->
