<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/layout/layout">
<head>
  <title>Додавання кінотеатру</title>
  <style>
    .cinema-table {
      border-collapse: collapse;
      width: 100%;
    }

    .cinema-table th, .cinema-table td {
      padding: 10px;
      text-align: left;
    }

    .cinema-table th {
      background-color: #f2f2f2;
    }

    .cinema-table td {
      border-bottom: 1px solid #ddd;
    }

    .cinema-table a.btn {
      display: inline-block;
      padding: 5px 10px;
      background-color: #4CAF50;
      color: #fff;
      text-decoration: none;
      border-radius: 4px;
    }
  </style>
</head>
<body>
<section layout:fragment="header">
  <ol class="breadcrumb">
    <li><a href="/templates/public"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Registration Client</li>
  </ol>
</section>
<div layout:fragment="content">
  <form enctype="multipart/form-data" method="post" th:action="@{/admin/cinemas/cinema-add}">
    <h3>Назва кінотеатру<input type="text" name="cinema_name" placeholder="Назва кінотеатру" class="form-control"></h3>
    <h3>Опис<input type="text" name="description" placeholder="Текст" class="form-control"></h3>
    <h3>Умова<input type="file" name="conditions" placeholder="Текст" class="form-control"></h3>
    <h3>Логотип
      <input type="file" name="logotype" class="form-control gallery-input" placeholder="Фото" id="logotypeInput" onchange="displayImage(this, 'logotypeImage')">
    </h3>
    <div id="logotypeThumbnailContainer">
      <img src="/static/img/download.jpg" id="logotypeImage" style="width: 100px; height: 100px;" />
    </div>

    <h3>Фото верхнього банера
      <input type="file" name="head_banner" class="form-control gallery-input" placeholder="Фото" id="headBannerInput" onchange="displayImage(this, 'headBannerImage')">
    </h3>
    <div id="headBannerThumbnailContainer">
      <img src="/static/img/download.jpg" id="headBannerImage" style="width: 100px; height: 100px;" />
    </div>

    <h3>Галерея картинок</h3>
    <div class="gallery-row">
      <input type="file" name="gallery_photo_1" class="form-control gallery-input" placeholder="Фото 1" id="galleryPhoto1Input" onchange="displayImage(this, 'galleryPhoto1Image')">
      <div id="galleryPhoto1ThumbnailContainer">
        <img src="/static/img/download.jpg" id="galleryPhoto1Image" style="width: 100px; height: 100px;" />
      </div>

      <input type="file" name="gallery_photo_2" class="form-control gallery-input" placeholder="Фото 2" id="galleryPhoto2Input" onchange="displayImage(this, 'galleryPhoto2Image')">
      <div id="galleryPhoto2ThumbnailContainer">
        <img src="/static/img/download.jpg" id="galleryPhoto2Image" style="width: 100px; height: 100px;" />
      </div>

      <input type="file" name="gallery_photo_3" class="form-control gallery-input" placeholder="Фото 3" id="galleryPhoto3Input" onchange="displayImage(this, 'galleryPhoto3Image')">
      <div id="galleryPhoto3ThumbnailContainer">
        <img src="/static/img/download.jpg" id="galleryPhoto3Image" style="width: 100px; height: 100px;" />
      </div>

      <input type="file" name="gallery_photo_4" class="form-control gallery-input" placeholder="Фото 4" id="galleryPhoto4Input" onchange="displayImage(this, 'galleryPhoto4Image')">
      <div id="galleryPhoto4ThumbnailContainer">
        <img src="/static/img/download.jpg" id="galleryPhoto4Image" style="width: 100px; height: 100px;" />
      </div>

      <input type="file" name="gallery_photo_5" class="form-control gallery-input" placeholder="Фото 5" id="galleryPhoto5Input" onchange="displayImage(this, 'galleryPhoto5Image')">
      <div id="galleryPhoto5ThumbnailContainer">
        <img src="/static/img/download.jpg" id="galleryPhoto5Image" style="width: 100px; height: 100px;" />
      </div>
    </div>

    <script>
      function displayImage(input, imgId) {
        var thumbnailContainer = document.getElementById(imgId + "ThumbnailContainer");
        var imageContainer = document.getElementById(imgId);
        imageContainer.src = ""; // Очистить предыдущую миниатюру

        if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            imageContainer.src = e.target.result;
            thumbnailContainer.style.display = "block"; // Показать контейнер с изображением
          };
          reader.readAsDataURL(input.files[0]);
        }
      }
    </script>

    <a href="/admin/cinemas/{cinema_id}/edit/hall-add">Додати зал</a>
    <!-- тут список добавленых залов-->
    <!--  -->

    <h3>Seo block</h3>
    <h3>URL<input type="text" name="url" placeholder="URL" class="form-control"></h3>
    <h3>Title<input type="text" name="title" placeholder="Title" class="form-control"></h3>
    <h3>Keywords<input type="text" name="keywords" placeholder="word" class="form-control"></h3>
    <h3>Description<input type="text" name="description_seo" placeholder="Description" class="form-control"></h3>
    <button type="submit" class="btn btn-success">Додати кінотеатр</button>
  </form>
</div>
</body>
</html>